@use "../common/var";
@use "../common/responsive" as *;

.button {
	&-normal {
		border: 1px solid var.$font-color;
		padding: 9px 30px;
		background: transparent;

		@include tablet {
			padding: 23px 70px;
		}

		&-radius {
			border-radius: 3px;
		}
	}

	&-normal2 {
		border: 2px solid var.$font-color;
		padding: 14px 50px;
		background: transparent;

		@include mobile {
			padding: 12px 34px;
		}
	}

	&-normal3 {
		border: none;
		padding: 16px 50px;
		background-color: var.$button-traffic-more-bg-color;

		@include tablet {
			padding: 26px 50px;

			@include mobile {
				padding-top: 13px;
				padding-bottom: 13px;
			}
		}
	}

	&-header {
		&-tel {
			background-color: var.$button-header-tel-bg-color;
		}

		&-access {
			background-color: var.$button-header-access-bg-color;
		}

		&-hamburger {
			position: relative;
			background-color: var.$button-header-hamburger-bg-color;
		}

	}

}