@use "../common/mixin";

.youtube {
	@include mixin.ArrangementCenter;

	width: 177.7777778vh;	/* 16:9の幅 */
	height: 56.25vw;		/* 16:9の高さ */
	min-width: 100%;
	min-height: 100%;

	&-area {
		z-index: 1;
		overflow: hidden;
		opacity: 0;

		&.appear {
			animation-name: PageAnimeAppear;
			animation-duration: 0.5s;
			animation-fill-mode: forwards;
		}
	}

	&-mask {
		position: absolute;
		z-index: 2;
		top: 0;
		width: 100%;
		height: 100%;
	}
}

@keyframes PageAnimeAppear {
	0%   {opacity: 0;}
	100% {opacity: 1;}
}