@use "common/mixin";
@use "common/var";
@use "common/responsive" as *;

.footer {
	@include mixin.SetBackGroundImage("../images/footer-bg.png");

	&-inner {
		@include mixin.FixContentsCenter;
		padding-top: 150px;
		padding-bottom: 80px;
		
		&-logo {
			text-align: center;
		}

		&-address {
			margin-top: 94px;
			text-align: center;
			font-weight: bold;

			&-text {
				@include mixin.FontSize(23px);
			}

			&-tel {
				&-text {
					margin-top: 12px;
					@include mixin.FontSize(30px);
				}
			}
		}

		&-menu {
			margin-top: 94px;

			&-list {
				display: flex;
				justify-content: space-between;

				border-bottom: 1px solid var.$font-color;
				padding-bottom: 14px;
			}

			&-item {
				@include mixin.FontSize(21px);

				@include otherResponsive(1000px) {
					@include mixin.FontSize(18px);
				}
			}
		}

		&-sns {
			margin: 33px auto 0;
			display: block;
			

			&-list {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&-line {
				margin-right: 25px;
			}
		}
		
		&-copyright {
			margin-top: 57.5px;

			&-text {
				display: block;
				text-align: center;
				@include mixin.FontSize(16px);
				font-family: 'Zen Old Mincho', serif;
				font-weight: 900;
			}
		}
	}
}