@use "common/mixin";
@use "common/var";
@use "common/responsive" as *;

.footer {
	@include mixin.SetBackGroundImage("../images/footer-bg.png");

	&-inner {
		@include mixin.FixContentsCenter;
		padding-top: 150px;
		padding-bottom: 80px;

		@include tablet {
			display: none;
		}
		
		&-logo {
			text-align: center;

			@include tablet {
				display: block;
				margin: 74px auto 0;
			}

			img {
				@include tablet {
					width: 30%;
				}
			}
		}

		&-address {
			margin-top: 94px;
			text-align: center;
			font-weight: bold;

			@include tablet {
				margin-top: 38px;
			}

			&-text {
				@include mixin.FontSize(23px);

				@include tablet {
					@include mixin.FontSize(17px);
				}
			}

			&-tel {
				&-text {
					margin-top: 12px;
					@include mixin.FontSize(30px);

					@include tablet {
						margin-top: 10px;
						@include mixin.FontSize(17px);
					}
				}
			}
		}

		&-menu {
			margin-top: 94px;

			@include tablet {
				margin-top: 0;
			}

			&-list {
				display: flex;
				justify-content: space-between;

				border-bottom: 1px solid var.$font-color;
				padding-bottom: 14px;

				@include tablet {
					display: block;
					text-align: center;
					padding-bottom: 74px;
				}
			}

			&-item {
				@include mixin.FontSize(21px);

				@include otherResponsive(1000px) {
					@include mixin.FontSize(18px);
				}

				@include tablet {
					@include mixin.FontSize(21px);
					font-weight: bold;

					margin-bottom: 30px;
				}
			}
		}

		&-sns {
			margin: 33px auto 0;
			display: block;
			

			&-list {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&-line {
				margin-right: 25px;
			}
		}
		
		&-copyright {
			margin-top: 57.5px;

			@include tablet {
				margin-top: 50px;
			}

			&-text {
				display: block;
				text-align: center;
				@include mixin.FontSize(16px);
				font-family: 'Zen Old Mincho', serif;
				font-weight: 900;

				@include tablet {
					@include mixin.FontSize(14px);
				}
			}
		}

		&-tablet {
			display: none;

			@include tablet {
				display: block;
				@include mixin.FixContentsCenterTablet;
				padding-top: 100px;
				padding-bottom: 70px;
			}
		}
	}
}