@use "common/var";
@use "common/mixin";
@use "object/object";
@use "common/responsive" as *;

.main {
	&-visual{
		&-inner {
			position: relative;
			width: 100%;
			height: 950px;		// 画像の高さ
			text-align: center;
			pointer-events: none;

			@include mixin.SetBackGroundImage("../images/junenji_top.png");

			@include tablet {
				height: 930px;
			}

			@include mobile {
				height: 607px;
			}

			&-title {
				@include mixin.ArrangementCenter;
				z-index: 2;
				width: 30%;

				&-img {
					height: 100%
				}
			}

			&-memorial {
				@extend .main-visual-inner;
				height: 600px;
				@include mixin.SetBackGroundImage("../images/junenji_memorial_mv.png");
			
				@include tablet {
					@include mixin.SetBackGroundImage("../images/junenji_memorial_mv_tablet.png");
					height: 400px;
				}

				@include mobile {
					height: 327px;
					background-position: center center;
				}

				&-title {
					@extend .main-visual-inner-title;
					width: 30%;
					padding: 2% 4%; 
					background-color: rgba(64, 64, 64, 0.75);		// #404040をrgbに変換
					color: var.$main-visual-color;
					font-weight: bold;
					@include mixin.FontSize(37px);

					@include otherResponsive(1400px) {
						@include mixin.FontSize(30px);
					}
					@include otherResponsive(1100px) {
						@include mixin.FontSize(25px);
					}

					@include tablet {
						border: 1px solid var.$main-visual-color;
						width: 60%;		// 横長すぎる気がするけど、これくらいにしないと折り返される機種が存在するので・・・
						@include mixin.FontSize(34px);
					}
					
					@include mobile {
						padding-top: 5%;
						padding-bottom: 5%;
						
						width: 65%;
						@include mixin.FontSize(20px);
					}
				}
			}

			&-grave {
				@extend .main-visual-inner-memorial;
				@include mixin.SetBackGroundImage("../images/junenji_grave_mv.png");

				@include tablet {
					@include mixin.SetBackGroundImage("../images/junenji_grave_mv_tablet.png");
					height: 450px;
				}

				@include mobile {
					@include mixin.SetBackGroundImage("../images/junenji_grave_mv_mb.png");
					height: 327px;
				}
			}

			&-traffic {
				@extend .main-visual-inner-memorial;
				@include mixin.SetBackGroundImage("../images/junenji_traffic_mv.png");

				// TODO:タブレット、スマホ版なし？？要確認
			}

			&-event {
				@extend .main-visual-inner-memorial;
				@include mixin.SetBackGroundImage("../images/junenji_event_mv.png");

				@include tablet{
					@include mixin.SetBackGroundImage("../images/junenji_event_mv_tablet.png");
					height: 450px;
				}

				@include mobile {
					@include mixin.SetBackGroundImage("../images/junenji_event_mv_mb.png");
					height: 327px;
				}
			}

			&-contact {
				@extend .main-visual-inner-memorial;
				@include mixin.SetBackGroundImage("../images/junenji_contact_mv.png");
			
				@include tablet {
					@include mixin.SetBackGroundImage("../images/junenji_contact_mv_tablet.png");
					height: 450px;
				}

				@include mobile {
					@include mixin.SetBackGroundImage("../images/junenji_contact_mv_mb.png");
					height: 327px;
				}
			}

			&-about {
				@extend .main-visual-inner-memorial;
				@include mixin.SetBackGroundImage("../images/junenji_about_mv.png");

				@include tablet {
					@include mixin.SetBackGroundImage("../images/junenji_about_mv_tablet.png");
					height: 450px;
				}

				@include mobile {
					@include mixin.SetBackGroundImage("../images/junenji_about_mv_mb.png");
					height: 327px;
				}
			}

			&-guide {
				@extend .main-visual-inner-memorial;
				@include mixin.SetBackGroundImage("../images/junenji_guide_mv.png");

				@include tablet {
					@include mixin.SetBackGroundImage("../images/junenji_guide_mv_tablet.png");
					height: 450px;
				}

			}

		}
	}

	&-contents {
		@include mixin.FixContentsCenter;
	}

	&-bg {
		background-image: url("../images/bg.png");
		background-repeat: repeat;

		@include mobile {
			background-image: url("../images/bg_mb.png");
		}
	}

	&-bg2 {
		background-image: url("../images/bg2.png");
		background-repeat: repeat;

		@include mobile {
			background-image: url("../images/bg2_mb.png");
		}
	}

	&-bg3 {
		background-color: var.$main-accept-bg-color;
	}

	&-about {
		display: flex;
		justify-content: center;

		padding-top: 200px;
		padding-bottom : 200px;
		text-align: center;

		@include tablet {
			display: none;
		}

		&-tablet {
			display: none;

			@include tablet {
				display: block;
				justify-content: center;

				padding-top: 72px;
				padding-bottom: 100px;
				text-align: center;
			}

			@include mobile {
				padding-top: 35px;
				padding-bottom: 57px;
			}

			&-img {
				display: flex;
				justify-content: center;
			}
		}

		&-left {
			margin-right: 125.5px;
			object-fit: contain;

			@include tablet {
				margin-right: 3%;
				width: 60px;
			}

			@include mobile {
				width: 30px;
			}
		}

		&-right {
			margin-left: 125.5px;
			object-fit: contain;

			@include tablet {
				margin-left: 0;
				width: 60px;
			}

			@include mobile {
				width: 30px;
			}
		}

		&-contents {
			width: 100%;

			&-title {
				@include mixin.FontSize(45px);
				font-weight: bold;
				@include mixin.LineHeight(45, 64);
	
				@include tablet {
					margin-top: 20px;
					@include mixin.FontSize(40px);
					@include mixin.LineHeight(40, 70);
				}

				@include mobile {
					margin-top: 7px;
					@include mixin.FontSize(27px);
					@include mixin.LineHeight(27, 39);
				}

				&-small {
					@include mixin.FontSize(37px);

					@include tablet {
						@include mixin.FontSize(35px);
					}

					@include mobile {
						@include mixin.FontSize(24px);
					}
				}

				&-memorial {
					@include tablet {
						@include mixin.FontSize(40px);
					}

					@include mobile {
						@include mixin.FontSize(27px);
					}
				}

				&-grave {
					text-align: center;

					@include tablet {
						margin-top: 0;
						@include mixin.FontSize(30px);
						text-align: center;
					}

					@include mobile {
						@include mixin.FontSize(23px);
					}

				}

			}

			&-image {
				margin-top: 90px;
				height: 560px;
				
				@include tablet {
					margin-top: 80px;
					height: 390px;
				}

				@include mobile {
					margin-top: 52px;
					height: 190px;
				}
			}

			&-text {
				margin-top: 45px;

				@include mixin.FontSize(18px);
				@include mixin.LineHeight(18, 30);

				@include tablet {
					@include mixin.FontSize(24px);
					@include mixin.LineHeight(24, 40);
				}

				@include mobile {
					margin-top: 40px;
					@include mixin.FontSize(14px);
					@include mixin.LineHeight(14, 20);
				}

				&-memorial {
					margin-top: 80px;

					@include mixin.FontSize(25px);
					@include mixin.LineHeight(25, 48);

					@include tablet {
						margin-top: 40px;

						@include mixin.FontSize(20px);
						@include mixin.LineHeight(20, 36);
					}

					@include mobile {
						margin-top: 20px;

						@include mixin.FontSize(14px);
						@include mixin.LineHeight(14, 20);
					}
				}

				&-grave {
					@include mixin.FixContentsCenterTablet;
					margin-top: 70px;

					@include mixin.FontSize(20px);

					@include tablet {
						margin-top: 50px;
						
						@include mixin.FontSize(17px);
						@include mixin.LineHeight(17, 30);
					}

					@include mobile {
						margin-top: 30px;

						@include mixin.FontSize(13px);
						@include mixin.LineHeight(13, 22);
					}
				}
			}

			&-button {
				margin-top: 56px;

				@include mixin.FontSize(23px);

				@include tablet {
					@include mixin.FontSize(38px);
					font-weight: bold;
				}

				@include mobile {
					margin-top: 48px;
					@include mixin.FontSize(19px);
				}

				&:hover {
					background-color: var.$font-color;
					color: var.$button-hover-color;
				}
				
				&-grave {
					@extend .main-video-memorial-button;
				
					@include tablet {
						margin-top: 40px !important;		// うぅ・・・
					}

					@include mobile {
						margin-top: 30px !important;		// うぅぅ・・・
					}
				}
			}
		}
		
		&-memorial {
			padding-top: 150px;
			padding-bottom: 150px;
		}

		&-grave {
			text-align: left;
			padding-top: 150px;
			padding-bottom: 150px;

			@include tablet {
				display: block;

				padding-top: 100px;
			}

			@include mobile {
				padding-top: 57px;
				padding-bottom: 94px;
			}
		}

		&-traffic {
			@include tablet {
				padding-top: 100px;
				padding-bottom: 100px;
			}

			@include mobile {
				padding-top: 57px;
				padding-bottom: 94px;
			}

			&-pc {
				display: block;

				@include tablet {
					display: none;
				}
			}

			&-tablet {
				display: none;

				@include tablet {
					display: block;
				}
			}

			&-map {
				margin-top: 70px;
				height: 560px !important;			// うぅ・・・

				@include tablet {
					height: 500px !important;		// うぅぅ・・・
				}

				@include mobile {
					margin-top: 52px !important;
					height: 330px !important;		// うぅぅぅ・・・
					border: 1px solid var.$card-border-color-tablet;
				}
			}

			&-button {
				display: block;
				position: relative;
				margin: 70px auto 0;

				width: 32%;
				padding: 2% 6%;
				padding-right: 4%;

				@include mixin.FontSize(25px);
				border: 2px solid var.$card-border-color-tablet;

				@include tablet {
					margin-top: 50px;
					width: 55%;
					padding: 4% 6%;

					@include mixin.FontSize(30px);
					font-weight: bold;
				}

				@include mobile {
					margin-top: 30px;
					width: var.$main-content-width-tablet;
					padding: 5% 6%;

					@include mixin.FontSize(20px);
					text-align: center;
				}

				@include otherResponsive(280px) {
					padding: 6%;
					@include mixin.FontSize(17px);
				}

				img {
					position: absolute;
					right: 10%;

					@include otherResponsive(280px) {
						right: 2%;
					}
				}
			}

			&-text {
				margin-top: 50px;

				@include mixin.FontSize(20px);
				@include mixin.LineHeight(20, 36);
				text-align: center;

				@include tablet {
					@include mixin.FontSize(17px);
					font-weight: bold;
				}

				@include mobile {
					margin-top: 30px;

					@include mixin.FontSize(16px);
				}
			}
		}

		&-event {
			@include tablet {
				@include mixin.FixContentsCenterTablet;
				padding-bottom: 100px;
			}

			@include mobile {
				padding-bottom: 60px;
			}

			&-list {
				position: relative;
				margin-top: 80px;

				@include tablet {
					margin: 50px auto 0;
					width: 70%;
				}

				@include mobile {
					margin-top: 25px;
				}

				@include otherResponsive(280px) {
					width: 85%;
				}
			}

			&-item {
				display: flex;
				flex-wrap: wrap;
				width: 100%;

				&-left, &-right {
					width: 50%;

					padding-top: 28px;
					padding-bottom: 28px;
					border-bottom: 1px solid var.$button-memorial-contact-border-color;

					@include mixin.FontSize(25px);
					font-weight: var.$font-bold-semiBold;

					@include tablet {
						padding-top: 21px;
						padding-bottom: 21px;

						@include mixin.FontSize(17px);
					}

					@include mobile {
						padding-top: 13px;
						padding-bottom: 13px;

						@include mixin.FontSize(14px);
					}
				}
			}
			
			&-text {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 70px;

				@include tablet {
					margin-top: 50px;
				}

				@include mobile {
					margin-top: 22px;
				}

				img {
					@include tablet {
						display: none;
					}
				}

				p {
					@include mixin.FontSize(28px);
					font-weight: var.$font-bold-semiBold;

					margin-left: 10px;

					@include tablet {
						@include mixin.FontSize(17px);
						font-weight: bold;

						margin-left: 0;
					}

					@include mobile {
						@include mixin.FontSize(13px);
					}
				}
			}
		}

		&-contact {
			padding-top: 150px;

			@include tablet {
				display: block;

				padding-top: 100px;
				padding-bottom: 100px;
			}

			@include mobile {
				padding-top: 57px;
				padding-bottom: 94px;
			}

			&-title {
				margin: 0 auto;
				width: 40%;
				padding-top: 15px;
				padding-bottom: 15px;

				border: 2px solid var.$button-memorial-contact-border-color;

				@include tablet {
					padding: 0;
					border: none;

					@include mixin.FontSize(30px);
				}

				@include mobile {
					@include mixin.FontSize(23px);
				}
			}

			&-text {
				margin-top: 50px;

				text-align: center;
				@include mixin.FontSize(20px);
				@include mixin.LineHeight(20, 36);

				@include tablet {
					margin-top: 20px;

					@include mixin.FontSize(17px);
					@include mixin.LineHeight(17, 30);
					font-weight: bold;
				}

				@include mobile {
					display: none;
				}

				&-mobile {
					display: none;

					@include mobile {
						@include mixin.FixContentsCenterTablet;
						display: block;
						margin-top: 15px;

						@include mixin.FontSize(13px);
						@include mixin.LineHeight(13, 19);
						font-weight: bold;
					}
				}
			}
		}

		&-border {
			display: none;

			@include tablet {
				display: block;
				margin: 0 auto;
				width: 80%;
				height: 10px;

				border-top: 1px solid var.$about-border-color;
				border-bottom: 1px solid var.$about-border-color;
			}
		}
	}

	&-menu {
		&-list {
			@include tablet {
				display: none;
			}

			&-tablet {
				display: none;
				
				@include tablet {
					padding-top: 100px;
					padding-bottom: 150px;
					
					position: relative;
					display: flex;
					flex-direction: column;
					width: 100%;	
				}

				@include mobile{
					padding-bottom: 94px;
				}

				&-bg {
					display: none;

					@include tablet {
						display: block;
						background-image: url("../images/menu-bg.png");
						background-repeat: repeat;	
					}
				}
			}
		}

		&-item {
			@include mixin.FixContentsCenter;
			height: 100%;
			display: flex;
			align-items: center;

			&-card {
				width: 300px;
				z-index: 2;

				padding-top: 132px;
				padding-bottom: 40px;
				background-color: var.$card-bg-color;
				opacity: 0.9;
				border: 1px solid var.$font-color;
				border-radius: 3px;

				font-weight: bold;

				&-right {
					margin-left: auto;
					margin-right: 0;
				}

				&-left {
					margin-left: 0;
					margin-right: auto;
				}

				&-inner {
					margin: 0 auto;
					max-width: 200px;
					width: 100%;
				}

				&-title {
					@include mixin.FontSize(37px);
					text-align: center;
				}

				&-text {
					margin-top: 97px;
					height: 90px;

					@include mixin.FontSize(14px);
					text-align: left;
					@include mixin.LineHeight(14, 20);
				}

				&-button {
					margin: 28px auto 0;
					display: block;

					&:hover {
						background-color: var.$font-color;
						color: var.$button-hover-color;
					}
				}
			}

			&-bg {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: 600px;
				z-index: 1;

				@for $i from 1 through length(var.$main-menu-bg-url-list) {
					&:nth-child(#{$i})::after {
						@include mixin.SetBackGroundImage(#{nth(var.$main-menu-bg-url-list, $i)});
					}
				}

				/* アニメーション参考サイト：https://www.webopixel.net/html-css/1019.html */
				&::after {
					position: absolute;
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					top: 0;
					transition: all var.$main-menu-animation-time ease-out;
				}

				&:hover {
					&::after {
						transform: scale(var.$main-menu-animation-scale);
					}
				}
			}

			&-tablet {
				@include tablet {
					position: relative;
					width: 95%;
					margin: 0 auto 150px;
					padding-top: 35px;
					padding-bottom: 35px;

					background-color: var.$card-bg-color;
					border: 1px solid var.$card-border-color-tablet;
				}

				@include mobile {
					padding-top: 17px;
					padding-bottom: 17px;
					margin-bottom: 57px;
				}

				&:last-of-type {
					margin-bottom: 0;
				}

				// カードの中身を初期化するときに共通するものをまとめたもの(作業用)
				@mixin InitCard {
					display: block;
					width: var.$main-content-width-tablet;
					margin: 0 auto;
				}

				&-img {
					@include InitCard();
				}
				
				&-text {
					@include InitCard();
					margin-top: 45px;

					@include mixin.FontSize(17px);
					@include mixin.LineHeight(17, 30);
					font-weight: bold;

					@include mobile {
						margin-top: 22px;
						@include mixin.FontSize(13px);
						@include mixin.LineHeight(13, 19);
					}
				}

				&-button {
					@include InitCard();
					margin-top: 65px;

					background: transparent;
					border: 1px solid var.$card-border-color-tablet;
					border-radius: 3px;
					padding-top: 25px;
					padding-bottom: 25px;

					@include mixin.FontSize(36px);
					font-weight: bold;

					@include mobile {
						margin-top: 22px;
						@include mixin.FontSize(18px);
						padding-top: 12px;
						padding-bottom: 12px;
					}
				}
			}
		}
	}

	&-video {
		&-memorial {
			padding-top: 150px;
			padding-bottom: 150px;

			@include tablet {
				display: block;
				@include mixin.FixContentsCenterTablet;

				padding-top: 100px;
				padding-bottom: 100px;
			}

			@include mobile {
				padding-top: 57px;
				padding-bottom: 57px;
			}

			&-video {
				width: 100%;
				max-width: var.$contents-width;
				height: 700px;

				@include tablet {
					height: 390px;
				}
				
				@include mobile {
					height: 190px;
				}
			}

			&-text {
				margin-top: 70px;

				@include mixin.FontSize(20px);

				@include tablet {
					margin-top: 45px;

					@include mixin.FontSize(17px);
					font-weight: bold;
				}

				@include mobile {
					margin-top: 22px;

					@include mixin.FontSize(13px);
					@include mixin.LineHeight(13, 19);
				}
			}

			&-button {
				display: block;
				margin: 70px auto 0;
				padding: 16px 40px;

				@include mixin.FontSize(30px);
				font-weight: bold;
				background-color: var.$contact-color;
				border: 2px solid var.$button-memorial-contact-border-color;	
			
				// CSSだけで文字変更する参考サイト：https://tadworks.jp/archives/5189
				@include tablet {
					@include mixin.FontSize(0px);

					margin-top: 60px;
					background: transparent;
					padding: 23px 92px;
				}

				@include mobile {
					margin-top: 30px;
					padding: 10px 60px;

					border-width: 2px;
				}

				&:before {
					@include tablet {
						@include mixin.FontSize(23px);
						content: 'お問い合わせ';
					}
					
					@include mobile {
						@include mixin.FontSize(19px);
					}
				}


			}
		}

		&-about {
			&-text {
				@include mixin.FontSize(20px);
				@include mixin.LineHeight(20, 36);

				@include tablet {
					@include mixin.FontSize(17px);
					@include mixin.LineHeight(17, 30);
					font-weight: bold;
				}

				@include mobile {
					@include mixin.FontSize(13px);
					@include mixin.LineHeight(13, 19);
				}
			}
		}

		&-guide {
			&-text {
				@include mixin.FontSize(19px);

				@include tablet {
					@include mixin.FontSize(17px);
					@include mixin.LineHeight(17, 30);
				}
			}
		}
	}

	&-grave {
		position: relative;
		padding-top: 150px;
		padding-bottom: 200px;

		@include tablet {
			padding-top: 100px;
		}

		@include mobile {
			padding-top: 70px;
			padding-bottom: 94px;
		}

		&-title {
			@include mixin.FontSize(45px);
			font-weight: bold;
			text-align: center;

			@include tablet {
				@include mixin.FontSize(30px);
			}

			@include mobile {
				@include mixin.FontSize(23px);
			}

			&-sub {
				width: 45%;
				margin: 90px auto 0;
				padding-top: 26px;
				padding-bottom: 26px;

				background: transparent;
				border: 2px solid var.$button-memorial-contact-border-color;
				@include mixin.FontSize(45px);
				font-weight: bold;
				text-align: center;

				@include tablet {
					margin-top: 60px;
					padding: 0;
					border: none;
					@include mixin.FontSize(30px);
				}

				@include mobile {
					width: 60%;
					margin-top: 52px;
					@include mixin.FontSize(23px);
				}
			}
		}

		&-image {
			margin-top: 90px;
			height: 560px;

			@include tablet {
				margin-top: 80px;
				height: 390px;
			}

			@include mobile {
				margin-top: 52px;
				height: 190px;
			}
		}

		&-text {
			margin-top: 70px;

			@include mixin.FontSize(20px);
			@include mixin.LineHeight(20, 36);

			@include tablet {
				@include mixin.FixContentsCenterTablet;
				margin-top: 40px;

				@include mixin.FontSize(17px);
				@include mixin.LineHeight(17, 30);
			}

			@include mobile {
				margin-top: 30px;

				@include mixin.FontSize(13px);
				@include mixin.LineHeight(13, 22);
				font-weight: bold;
			}
		}
	}
	
	&-traffic {
		padding-top: 200px;
		padding-bottom: 200px;

		@include tablet {
			padding-top: 100px;
		}

		@include mobile {
			padding-top: 94px;
			padding-bottom: 94px;
		}
		
		&-title {
			text-align: center;
			@include mixin.FontSize(35px);
			font-weight: bold;
			@include mixin.LineHeight(50, 35);
			@include mixin.LetterSpacing(200);

			@include tablet {
				@include mixin.FontSize(40px);
				@include mixin.LetterSpacing(0);
			}

			@include mobile {
				@include mixin.FontSize(26px);
				@include mixin.LetterSpacing(200);
			}
		}

		&-map {
			margin-top: 87px;

			width: 100%;
			max-width: var.$contents-width;
			height: 500px;

			@include tablet {
				display: block;
				margin: 80px auto 0;
				width: var.$main-content-width-tablet;
				height: 650px;

				border: 1px solid var.$card-border-color-tablet;
				border-radius: 1px;
			}

			@include mobile {
				margin-top: 40px;
				height: 330px;
			}
		}

		&-text {
			@include mixin.FontSize(20px);
			text-align: center;

			@include tablet {
				@include mixin.FontSize(17px);
				font-weight: bold;
			}

			@include mobile {
				@include mixin.FontSize(16px);
			}

			@include otherResponsive(300px) {
				@include mixin.FontSize(12px);
			}
		}

		&-address {
			margin-top: 82px;

			@include tablet {
				margin-top: 45px;
			}

			@include mobile {
				margin-top: 30px;
			}
		}

		&-tel {
			margin-top: 24px;

			@include mobile {
				margin-top: 12px;
			}
		}

		&-more {
			display: block;
			margin: 51px auto 0;

			@include mixin.FontSize(20px);
			font-weight: bold;

			@include tablet {
				width: var.$main-content-width-tablet;
				margin: 80px auto 0;

				@include mixin.FontSize(34px);
			}

			@include mobile {
				margin-top: 30px;
				@include mixin.FontSize(17px);
			}
			
			&:hover {
				background-color: var.$button-traffic-more-hover-bg-color;
				color: var.$button-hover-color;
			}
		}
	}

	&-parking {
		@include mixin.FixContentsCenterTablet;

		@include mobile {
			padding-top: 57px;
			padding-bottom: 94px;
		}

		&-image {
			margin-top: 90px;
			height: 650px;

			@include tablet {
				height: 390px;
			}

			@include mobile {
				margin-top: 52px;
				height: 190px;
			}
		}

		&-text {
			margin-top: 70px;

			@include mixin.FontSize(20px);

			@include tablet {
				width: 85%;
				margin: 50px auto 0;

				@include mixin.FontSize(17px);
				@include mixin.LineHeight(17, 30);
				font-weight: bold;
			}

			@include mobile {
				margin-top: 30px;

				@include mixin.FontSize(13px);
				@include mixin.LineHeight(13, 22);
			}
		}
	}

	&-accept {
		position: relative;
		padding-top: 150px;
		padding-bottom: 200px;

		@include tablet {
			padding-top: 100px;
			@include mixin.FixContentsCenterTablet;
		}

		@include mobile {
			padding-top: 94px;
			padding-bottom: 94px;
		}

		&-title {
			@include mixin.FontSize(45px);
			font-weight: bold;

			display: block;
			margin: 0 auto;
			width: 50%;
			padding: 2% 8%;		//26px 115px;
			border: 2px solid  var.$button-memorial-contact-border-color;
		
			@include tablet {
				@include mixin.FontSize(40px);
				text-align: center;

				width: 100%;
				padding: 0;
				border: none;
			}

			@include mobile {
				@include mixin.FontSize(23px);
			}
		}

		&-list {
			//list-style-image: url("../images/list-icon.png");
			
			display: flex;
			flex-wrap: wrap;
			margin-top: 100px;

			@include tablet {
				width: 50%;
				margin: 60px auto 0;
			}
			
			@include mobile {
				width: 60%;
				margin-top: 40px;
			}

			li {
				//リストのアイコン画像をサイズ変更できるようにする。参考サイト：https://ws-pilgrimage.jp/webcreate/701/
				background-image: url("../images/list-icon.png");
				background-position: top left;
				background-repeat: no-repeat;
				background-size: auto;

				padding-left: 50px;
				line-height: 0.75;

				@include tablet {
					line-height: 2;
				}

				@include mobile {
					background-size: 22px;

					padding-left: 30px;
					line-height: 1.5;
				}
			}
		}

		&-item {
			width: 50%;

			@include mixin.FontSize(40px);
			font-weight: bold;
			margin-bottom: 40px;

			@include tablet {
				width: 100%;
				height: 40px;
				@include mixin.FontSize(21px);

				margin-bottom: 26px;
			}

			@include mobile {
				height: 23px;
				@include mixin.FontSize(15px);

				margin-bottom: 10px;
			}
		}
	}

	&-fes {
		padding-bottom: 150px;

		@include tablet {
			@include mixin.FixContentsCenterTablet;
			padding-bottom: 100px;
		}

		@include mobile {
			padding-top: 57px;
			padding-bottom: 57px;
		}

		&-title {
			@include tablet {
				display: none;
			}

			@include mobile {
				display: block;
				@include mixin.FontSize(23px);
			}
		}

		&-video {
			margin-top: 80px;

			@include tablet {
				margin-top: 0;
			}

			@include mobile {
				margin-top: 30px;
				height: 190px;
			}
		}

		&-text {
			margin-top: 70px;

			@include mixin.FontSize(20px);
			@include mixin.LineHeight(20, 36);

			@include tablet {
				margin-top: 45px;

				@include mixin.FontSize(17px);
				@include mixin.LineHeight(17, 30);
				font-weight: bold;
			}

			@include mobile {
				margin-top: 22px;

				@include mixin.FontSize(13px);
				@include mixin.LineHeight(13, 19);
			}
		}
	}

	&-event {
		&-slider {
			position: relative;

			padding-top: 150px;
			padding-bottom: 200px;

			@include tablet {
				padding-top: 200px;
			}

			@include mobile {
				padding-top: 94px;
				padding-bottom: 94px;
			}

			&-title {
				width: 80%;
				margin: 0 auto;
				padding-top: 33px;
				padding-bottom: 33px;
				border: 2px solid var.$button-memorial-contact-border-color;

				@include mixin.FontSize(45px);
				font-weight: bold;
				text-align: center;

				@include tablet {
					display: none;
				}

				&-tablet {
					display: none;

					@include tablet {
						display: block;

						border: none;
						padding: 0;
						@include mixin.FontSize(30px);
					}

					@include mobile {
						@include mixin.FontSize(23px);
					}
				}
			}

			&-for {
				margin-top: 80px;

				@include tablet {
					display: none;
				}
			}

			&-nav {
				margin-top: 30px;

				@include tablet {
					display: none;
				}

				&-item {
					margin-right: 30px;

					&:last-of-type {
						margin-right: 0;
					}
				}
			}

			&-tablet {
				display: none;

				@include tablet {
					display: block;
					margin-top: 80px;
				}

				@include mobile {
					margin-top: 52px;
				}
			}

			&-text {
				margin-top: 80px;

				@include mixin.FontSize(20px);
				@include mixin.LineHeight(20, 36);

				@include tablet {
					@include mixin.FixContentsCenterTablet;
					margin-top: 60px;

					@include mixin.FontSize(17px);
					@include mixin.LineHeight(17, 30);
					font-weight: bold;
				}

				@include mobile {
					margin-top: 30px;

					@include mixin.FontSize(13px);
					@include mixin.LineHeight(13, 22);
				}
			}
		}
	}

	&-treasure {
		padding-top: 150px;
		padding-bottom: 200px;

		border-bottom: 1px solid var.$about-border-color;

		@include tablet {
			display: none;
		}

		&-title {
			@include mixin.FontSize(45px);
			font-weight: bold;
			text-align: center;

			@include tablet {
				@include mixin.FontSize(30px);
			}

			@include mobile {
				@include mixin.FontSize(23px);
			}
		}

		&-list {
			display: flex;
			position: relative;

			margin-top: 80px;
		}

		&-item {
			border: 1px solid var.$about-item-border-color;
			
			padding-bottom: 84px;


			&-top {
				width: 100%;
			}

			&-bottom {
				width: 50%;
				margin-right: 80px;
				padding-bottom: 32px;

				&:last-of-type {
					margin-right: 0;
				}
			}

			&-image {
				height: 560px;

				&-bottom {
					height: 430px;
				}
			}

			&-title {
				margin-top: 48px;
				
				@include mixin.FontSize(45px);
				font-weight: bold;
				text-align: center;
			}

			&-text {
				width: 87%;
				margin: 38px auto 0;

				@include mixin.FontSize(20px);
				@include mixin.LineHeight(20, 36);

				&-bottom {
					width: 90%;
				}
			}
		}

		&-tablet {
			display: none;

			@include tablet {
				display: block;

				padding-top: 150px;
			}

			@include mobile {
				padding-top: 94px;
			}

			&-list {
				margin-top: 80px;
				margin-bottom: 200px;

				@include mobile {
					margin-top: 52px;
					margin-bottom: 94px;
				}
			}

			&-item {
				margin-top: 150px;

				&:first-of-type {
					margin-top: 0;
				}

				@include mobile {
					margin-top: 94px;
				}

				&-image {
					width: 100%;
					height: 389px;

					@include mobile {
						height: 190px;
					}
				}

				&-title {
					margin-top: 60px;

					@include mixin.FontSize(30px);
					font-weight: bold;
					text-align: center;

					@include mobile {
						margin-top: 24px;

						@include mixin.FontSize(21px);
					}
				}

				&-text {
					margin: 40px auto 0;
					width: 80%;

					@include mixin.FontSize(17px);
					@include mixin.LineHeight(17, 30);
					font-weight: bold;

					@include mobile {
						margin-top: 17px;

						@include mixin.FontSize(13px);
						@include mixin.LineHeight(13, 22);
					}
				}
			}
		}
	}

	&-facility {
		margin-top: 18px;
		padding-top: 200px;
		padding-bottom: 200px;

		border-top: 1px solid var.$about-border-color;

		@include tablet {
			display: none;
		}

		&-title {
			@include mixin.FontSize(45px);
			font-weight: bold;
			text-align: center;

			@include tablet {
				@include mixin.FontSize(30px);
			}

			@include mobile {
				@include mixin.FontSize(23px);
			}
		}

		&-list {
			margin-top: 80px;
			display: flex;
			column-gap: 105px;
			row-gap: 80px;
			flex-wrap: wrap;
		}

		&-item {
			position: relative;
			border: 1px solid var.$about-item-border-color;
			
			padding-bottom: 33px;
			
			&-top {
				width: 100%;
			}

			&-bottom {
				width: 46%;
				height: 805px;
			}

			&-image {
				&-top {
					height: 560px;
				}

				&-bottom {
					height: 430px;
				}
			}

			&-title {
				margin-top: 45px;

				@include mixin.FontSize(45px);
				font-weight: bold;
				text-align: center;
			}

			&-text {
				width: 95%;	
				margin: 38px auto 0;

				@include mixin.FontSize(20px);
				@include mixin.LineHeight(20, 36);

				&-bottom {
					width: 85%;
				}
			}

			&-link {
				display: block;

				@include mixin.FontSize(23px);
				font-weight: bold;
				text-align: center;

				&-top {
					margin-top: 27px;
				}

				&-bottom {
					position: absolute;
					bottom: 33px;
					left: 0;
					right: 0;
				}
			}
		}

		&-tablet {
			padding-top: 200px;
			padding-bottom: 200px;

			@include mobile {
				padding-top: 94px;
				padding-bottom: 94px;
			}

			&-list {
				margin-top: 80px;

				@include mobile {
					margin-top: 52px;
				}
			}

			&-item {
				margin-top: 200px;

				@include mobile {
					margin-top: 94px;
				}

				&:first-of-type {
					margin-top: 0;
				}

				&-image {
					width: 100%;
					height: 389px;

					@include mobile {
						height: 190px;
					}
				}

				&-title {
					margin-top: 60px;

					@include mixin.FontSize(30px);
					font-weight: bold;
					text-align: center;

					@include mobile {
						margin-top: 24px;

						@include mixin.FontSize(21px);
					}
				}

				&-text {
					margin: 40px auto 0;
					width: 80%;

					@include mixin.FontSize(17px);
					@include mixin.LineHeight(17, 30);
					font-weight: bold;

					@include mobile {
						margin-top: 17px;
						
						@include mixin.FontSize(13px);
						@include mixin.LineHeight(13, 22);
					}
				}

				&-link {
					display: block;
					margin: 40px auto 0;
					width: 80%;
					padding-top: 30px;
					padding-bottom: 30px;

					@include mixin.FontSize(30px);
					font-weight: bold;
					text-align: center;
					
					border: 1px solid var.$about-item-border-color;

					@include mobile {
						margin-top: 20px;
						padding-top: 14px;
						padding-bottom: 14px;
						border-radius: 3px;

						@include mixin.FontSize(18px);
					}
				}
			}
		}

	}

	&-guide {
		padding-top: 150px;
		padding-bottom: 200px;

		@include tablet {
			padding-top: 100px;
		}

		&-link {
			&-list {
				display: flex;
				position: relative;
				width: 100%;
				column-gap: 63px;
				margin: 0 auto;

				@include tablet {
					width: 70%;
					column-gap: 19px;
				}
			}

			&-item {
				width: 33%;
				padding-top: 17px;
				padding-bottom: 17px;

				@include mixin.FontSize(30px);
				font-weight: bold;
				border: 1px solid var.$about-border-color;
				text-align: center;

				@include tablet {
					padding-top: 23px;
					padding-bottom: 23px;

					@include mixin.FontSize(22px);
					@include mixin.LineHeight(22, 36);
				}
			}
		}

		&-list {
			margin-top: 200px;
		}

		&-item {
			margin-top: 400px;

			@include tablet {
				margin-top: 200px;
			}

			&:first-of-type {
				margin-top: 0;
			}
		}

		&-title {
			@include mixin.FontSize(45px);
			font-weight: bold;
			text-align: center;

			@include tablet {
				@include mixin.FontSize(40px);
			}
		}

		&-slider {
			position: relative;

			&-for {
				margin-top: 80px;

				@include tablet {
					display: none;
				}
			}

			&-nav {
				cursor: pointer;
				margin-top: 20px;

				@include tablet {
					display: none;
				}

				&-item {
					margin-right: 30px;
					height: 65px;

					&:last-of-type {
						margin-right: 0;
					}
				}
			}

			&-tablet {
				display: none;

				@include tablet {
					display: block;
					margin-top: 80px;
				}
			}
		}

		&-text {
			margin-top: 50px;

			@include mixin.FontSize(20px);
			@include mixin.LineHeight(20, 36);

			@include tablet {
				@include mixin.FixContentsCenterTablet;
				margin-top: 80px;

				@include mixin.FontSize(17px);
				@include mixin.LineHeight(17, 30);
				font-weight: bold;
			}
		}

		&-button {
			&-list { 
				margin-top: 80px;
				display: flex;

				position: relative;
				width: 100%;
				column-gap: 60px;

				@include tablet {
					@include mixin.FixContentsCenterTablet;
					margin-top: 80px;
					flex-wrap: wrap;
					row-gap: 20px;
				}
			}

			&-item {
				display: block;
				width: 33%;
				column-gap: 60px;

				padding: 17px 20px;
				border: 1px solid var.$about-item-border-color;

				cursor: pointer;

				@include tablet {
					width: 100%;

					padding: 0;
				}

				&:hover {
					background-color: var.$about-item-border-color;
					color: var.$triangle-hover-color;
				}

				&-inner {
					display: flex;
					align-items: center;
					position: relative;
				}

				&-image {
					width: 50%;
					height: 95px;

					border: 1px solid var.$about-item-border-color;
				
					@include tablet {
						display: none;
					}

					&-tablet {
						display: none;
						
						@include tablet {
							display: block;
							height: 200px;
						}
					}
				}

				&-text {
					width: 50%;

					font-weight: bold;
					text-align: center;

					// 参考サイト：CSS三角形作成ツール(http://apps.eky.hk/css-triangle-generator/ja)
					&-triangle{
						position: absolute;
						top: 0;
						right: 0;

						width: 0;
						height: 0;
						border-style: solid;
						border-width: 0 19px 19px 0;
						border-color: transparent var.$triangle-color transparent transparent;
					
						@include tablet {
							top: 15%;
							right: 5%;
							border-width: 0 30px 30px 0;
						}
					}

					&-top {
						@include mixin.FontSize(13px);

						@include tablet {
							@include mixin.FontSize(16px);
						}
					}

					&-bottom {
						margin-top: 8px;

						@include mixin.FontSize(20px);

						@include tablet {
							margin-top: 15px;

							@include mixin.FontSize(29px);
						}
					}
				}
			}
		}

		// モーダル作成の参考サイト：https://dubdesign.net/download/html-css/modal-window/#!
		&-modal {
			z-index: 999;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			text-align: center;

			&:not(:target) {
				opacity: 0;
				visibility: hidden;
				transition: opacity .3s, visibility .3s;
			}

			&:target {
				opacity: 1;
				visibility: visible;
				transition: opacity .4s, visibility .4s;
			}

			&::after {
				display: inline-block;
				height: 100%;
				margin-left: -.05em;
				vertical-align: middle;
				content: "";
			}

			&-window {
				display: inline-block;
				z-index: 20;
				position: relative;
				width: 100%;
				max-width: 1320px;
				padding-top: 100px;
				padding-bottom: 60px;
				padding-left: 100px;
				padding-right: 75px;
				background: var.$modal-window-bg-color;
				vertical-align: middle;

				@include tablet {
					height: 100vh;
					padding: 0;
				}
			}

			&-contents {
				width: 100%;
				max-width: var.$contents-width;
				margin: 0 auto;
				height: 600px;
				overflow-y: auto;
				overscroll-behavior-y: none;

				position: relative;
				display: flex;
				justify-content: space-between;

				@include tablet {
					display: none;
				}

				&-left {
					width: 45%;
					height: 100%;

					&-image {
						display: block;
						width: 100%;
						max-width: 500px;
						height: 600px;

						&-2 {
							display: block;
							width: 100%;
							max-width: 500px;
							height: 388px;
							margin-top: 40px;

							&:first-of-type {
								margin-top: 0;
							}
						}

						&-3 {
							height: 741px;
						}
					}
				}

				&-right {
					width: 50%;
					height: 100%;
					color: var.$modal-window-color;
					position: relative;

					&-title {
						@include mixin.FontSize(40px);
						line-height: 1.5;
						font-weight: bold;

						&-small {
							@include mixin.FontSize(25px);
							font-weight: bold;
						}
					}

					&-text {
						margin-top: 33px;

						@include mixin.FontSize(20px);
						@include mixin.LineHeight(20, 28);
						font-weight: var.$font-bold-semiBold;
						text-align: left;
					}

					&-button {
						display: block;
						width: 30%;
						padding-top: 20px;
						padding-bottom: 20px;
						margin: 100px auto 0;

						@include mixin.FontSize(20px);
						font-weight: bold;
						text-align: center;
						color: var.$modal-window-button-color;
						
						background-color: var.$modal-window-button-bg-color;
						border-radius: 3px;

						&:hover {
							color: var.$modal-window-button-hover-color;
							background-color: var.$modal-window-button-hover-bg-color;
						}
					}
				}

				&-tablet {
					display: none;
					color: var.$modal-window-color;
					font-weight: bold;

					@include tablet {
						display: block;

						height: 100vh;
						overflow-y: auto;
						overscroll-behavior-y: none;
					}

					&-image {
						width: 100%;
						height: 389px;
					}

					&-title {
						@include mixin.FontSize(30px);
						line-height: 1.5;

						&-small {
							@include mixin.FontSize(17px);
						}
					}

					&-text {
						margin-top: 50px;

						@include mixin.FontSize(17px);
						@include mixin.LineHeight(17, 30);
						text-align: left;

						&-list {
							@include mixin.FixContentsCenterTablet;
							margin-top: 40px;
							margin-bottom: 100px;
						}

						&-image {
							margin-top: 50px;
							height: 451px;

							&-2 {
								margin-top: 50px;
								height: 904px;
							}
						}
					}

					&-button {
						display: block;;
						width: 100%;
						margin-top: 100px;
						padding-top: 27px;
						padding-bottom: 27px;

						@include mixin.FontSize(36px);
						font-weight: bold;
						color: var.$modal-window-color;
						border: 1px solid var.$modal-window-button-hover-bg-color;
					}
				}

			}

			&-overlay {
				z-index: 10;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				//background: white;		// デバッグ
			}
		}
	}

	&-slider {
		@include tablet {
			display: none;
		}
		
		&-list {
			position: relative;

			.slick-slide {
				height: 700px;
			}
		}

		@for $i from 1 through length(var.$main-slider-url-list) {
			&-item#{$i} {
				@include mixin.SetBackGroundImage(#{nth(var.$main-slider-url-list, $i)});


			}
		}
	}
}

// ホバー関連(こうしないと動かない系)
.main-guide-button-item:hover .main-guide-button-item-text-triangle {
	border-color: transparent var.$triangle-hover-color transparent transparent;
}

// スライドショー関連
// 参考URL；https://and-ha.com/coding/slick/、https://zero-plus.io/media/jquery-slick/
.main-event-slider-tablet .slick-arrow, .main-guide-slider-tablet .slick-arrow {
	color: var.$slider-arrow-color;
	@include mixin.FontSize(0px);
	cursor: pointer;
	z-index: 1;
}

.main-event-slider-tablet .slick-arrow:before, .main-guide-slider-tablet .slick-arrow:before {
	@include mixin.FontSize(50px);

	@include mobile {
		@include mixin.FontSize(25px);
	}
}

.main-event-slider-tablet .slick-prev, .main-guide-slider-tablet .slick-prev {
	left: 0;
}

.main-event-slider-tablet .slick-prev:before, .main-guide-slider-tablet .slick-arrow:before {
	content: '◀︎';
	position: absolute;
	left: 20px;
	right: auto;
	bottom: 1px;

	@include mobile {
		left: 10px;
	}
}

.main-event-slider-tablet .slick-next, .main-guide-slider-tablet .slick-next {
	right: 0;
}

.main-event-slider-tablet .slick-next:before, .main-guide-slider-tablet .slick-next:before {
	content: '▶︎';
	position: absolute;
	right: 20px;
	left: auto;
	bottom: 1px;

	@include mobile {
		right: 10px;
	}
}

.main-event-slider-tablet .slick-dots, .main-guide-slider-tablet .slick-dots {
	position: absolute;
	bottom: 20px;
	z-index: 1;

	@include mobile {
		bottom: 10px;
	}
}

.main-event-slider-tablet .slick-dots li button::before, .main-guide-slider-tablet .slick-dots li button::before {
	@include mixin.FontSize(16px);
	color: var.$slider-arrow-color;

	@include mobile {
		@include mixin.FontSize(10px);
	}
}
