@use "common/var";
@use "common/mixin";
@use "object/object";

.main {

	&-visual{
		// TODO: innerいらなかったかも。最終的に不要だったらinner消すこと(htmlも)
		&-inner {
			position: relative;
			height: 950px;		// 画像の高さ
			text-align: center;
			pointer-events: none;

			@include mixin.SetBackGroundImage("../images/junenji_top.png");

			&-title {
				@include mixin.ArrangementCenter;
				z-index: 2;

				&-img {
					height: 100%
				}
			}
		}
	}

	&-contents {
		@include mixin.FixContentsCenter;
	}

	&-bg {
		background-image: url("../images/bg.png");
		background-repeat: repeat;
	}


	&-about {
		display: flex;
		justify-content: center;

		padding-top: 200px;
		padding-bottom : 200px;
		text-align: center;

		&-left {
			margin-right: 125.5px;
			object-fit: contain;
		}

		&-right {
			margin-left: 125.5px;
			object-fit: contain;
		}

		&-contents {
			&-title {
				font-size: 45px;
				font-weight: bold;
				@include mixin.LineHeight(45, 64);
	
				&-small {
					font-size: 37px;
				}
			}

			&-text {
				margin-top: 45px;

				font-size: 18px;
				@include mixin.LineHeight(18, 30);
			}

			&-button {
				margin-top: 56px;

				font-size: 23px;

				&:hover {
					background-color: var.$font-color;
					color: var.$button-hover-color;
				}
			}
		}
	}

	&-menu {
		&-list {
			
		}

		&-item {
			@include mixin.FixContentsCenter;
			height: 100%;
			display: flex;
			align-items: center;

			&-card {
				width: 300px;
				z-index: 2;

				padding-top: 132px;
				padding-bottom: 40px;
				background-color: var.$card-bg-color;
				opacity: 0.9;
				border: 1px solid var.$font-color;
				border-radius: 3px;

				font-weight: bold;

				&-right {
					margin-left: auto;
					margin-right: 0;
				}

				&-left {
					margin-left: 0;
					margin-right: auto;
				}

				&-inner {
					margin: 0 auto;
					max-width: 200px;
					width: 100%;
				}

				&-title {
					font-size: 37px;
					text-align: center;
				}

				&-text {
					margin-top: 97px;
					height: 90px;

					font-size: 14px;
					text-align: left;
					@include mixin.LineHeight(14, 20);
				}

				&-button {
					margin: 28px auto 0;
					display: block;

					&:hover {
						background-color: var.$font-color;
						color: var.$button-hover-color;
					}
				}
			}

			&-bg {
				position: relative;
				overflow: hidden;
				width: 100%;
				height: 600px;
				z-index: 1;

				@for $i from 1 through length(var.$main-menu-bg-url-list) {
					&:nth-child(#{$i})::after {
						@include mixin.SetBackGroundImage(#{nth(var.$main-menu-bg-url-list, $i)});
					}
				}

				/* アニメーション参考サイト：https://www.webopixel.net/html-css/1019.html */
				&::after {
					position: absolute;
					content: "";
					display: block;
					width: 100%;
					height: 100%;
					top: 0;
					transition: all var.$main-menu-animation-time ease-out;
				}

				&:hover {

					&::after {
						transform: scale(var.$main-menu-animation-scale);
					}
				}
			}
		}
	}
	
	&-traffic {
		padding-top: 200px;
		padding-bottom: 200px;
		
		&-title {
			text-align: center;
			font-size:35px;
			font-weight: bold;
			@include mixin.LineHeight(50, 35);
			@include mixin.LetterSpacing(200);
		}

		&-map {
			margin-top: 87px;

			width: 100%;
			max-width: var.$contents-width;
			height: 500px;
		}

		&-text {
			font-size: 20px;
			text-align: center;
		}

		&-address {
			margin-top: 82px;
		}

		&-tel {
			margin-top: 24px;
		}

		&-more {
			display: block;
			margin: 51px auto 0;

			font-size: 20px;
			font-weight: bold;
			
			&:hover {
				background-color: var.$button-traffic-more-hover-bg-color;
				color: var.$button-hover-color;
			}
		}
	}

	&-slider {
		&-list {
			position: relative;

			.slick-slide {
				height: 700px;
			}
		}

		@for $i from 1 through length(var.$main-slider-url-list) {
			&-item#{$i} {
				@include mixin.SetBackGroundImage(#{nth(var.$main-slider-url-list, $i)});


			}
		}
	}
}