@use "header";
@use "main";
@use "footer";
@use "common/var";

html {
	font-size: 100%;
}

* {
	box-sizing: border-box;
	font-family: 'Source Han Serif', sans-serif;
	letter-spacing: 0.05em;
}

body {
	overflow-x: hidden;
	color: var.$font-color;

	background-color: lightgreen;		// デバッグ
}

a {
	text-decoration: none;
}

button {
	cursor: pointer;
}

.hidden {
	display: block;
}
