@charset "UTF-8";
.header {
  width: 100%;
  background-image: url("../images/header-bg.png");
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}
.header-inner {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.header-inner-left-logo-link {
  display: block;
  margin: 20px 13px;
}
.header-inner-right-menu {
  height: 100%;
  display: flex;
  align-items: center;
}
.header-inner-right-menu-normal {
  margin-right: 74px;
}
.header-inner-right-menu-normal-list {
  display: flex;
}
.header-inner-right-menu-normal-item a {
  font-size: 18px;
  color: #272727;
}
.header-inner-right-menu-normal-item:not(:last-child) {
  margin-right: 40px;
}
.header-inner-right-menu-contact {
  height: 100%;
  font-size: 24px;
  padding: 0 50px;
  color: #FFFFFF;
  background-color: #272727;
  border: none;
}
.header-inner-right-menu-contact:hover {
  color: #FFF3B1;
}

.button-normal {
  border: 1px solid #272727;
  padding: 9px 30px;
  background: transparent;
}
.button-normal-radius {
  border-radius: 3px;
}
.button-normal2 {
  border: 2px solid #272727;
  padding: 14px 50px;
  background: transparent;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading.disppear {
  display: none;
}

.youtube {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 177.7777778vh; /* 16:9の幅 */
  height: 56.25vw; /* 16:9の高さ */
  min-width: 100%;
  min-height: 100%;
}
.youtube-area {
  z-index: 1;
  overflow: hidden;
  opacity: 0;
}
.youtube-area.appear {
  -webkit-animation-name: PageAnimeAppear;
          animation-name: PageAnimeAppear;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.youtube-mask {
  position: absolute;
  z-index: 2;
  top: 0;
  width: 100%;
  height: 100%;
}

@-webkit-keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes PageAnimeAppear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.main-visual-inner {
  position: relative;
  height: 950px;
  text-align: center;
  background-image: url("../images/junenji_top.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
}
.main-visual-inner-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
.main-visual-inner-title-img {
  height: 100%;
}
.main-contents {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
}
.main-about {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
}
.main-about-bg {
  background-image: url("../images/bg.png");
  background-repeat: repeat;
}
.main-about-left {
  margin-right: 125.5px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-about-right {
  margin-left: 125.5px;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-about-contents-title {
  font-size: 45px;
  font-weight: bold;
  line-height: 1.4222222222;
}
.main-about-contents-title-small {
  font-size: 37px;
}
.main-about-contents-text {
  margin-top: 45px;
  font-size: 18px;
  line-height: 1.6666666667;
}
.main-about-contents-button {
  margin-top: 56px;
  font-size: 23px;
}
.main-about-contents-button:hover {
  background-color: #272727;
  color: #FFFFFF;
}
.main-menu-item {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}
.main-menu-item-card {
  width: 300px;
  padding-top: 132px;
  padding-bottom: 40px;
  background-color: #FFFFFF;
  opacity: 0.9;
  border: 1px solid #272727;
  border-radius: 3px;
  font-weight: bold;
}
.main-menu-item-card-right {
  margin-left: auto;
  margin-right: 0;
}
.main-menu-item-card-left {
  margin-left: 0;
  margin-right: auto;
}
.main-menu-item-card-inner {
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
}
.main-menu-item-card-title {
  font-size: 37px;
  text-align: center;
}
.main-menu-item-card-text {
  margin-top: 97px;
  height: 90px;
  font-size: 14px;
  text-align: left;
  line-height: 1.4285714286;
}
.main-menu-item-card-button {
  margin: 28px auto 0;
  display: block;
}
.main-menu-item-card-button:hover {
  background-color: #272727;
  color: #FFFFFF;
}
.main-menu-item-bg {
  position: relative;
  width: 100%;
  height: 600px;
}
.main-menu-item-bg:nth-child(1) {
  background-image: url(../images/junenji_front.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-menu-item-bg:nth-child(2) {
  background-image: url(../images/junenji_chant.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-menu-item-bg:nth-child(3) {
  background-image: url(../images/junenji_event.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.main-menu-item-bg:nth-child(4) {
  background-image: url(../images/junenji_grave.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html {
  font-size: 100%;
}

* {
  box-sizing: border-box;
  font-family: "Source Han Serif", sans-serif;
  letter-spacing: 0.05em;
}

body {
  overflow-x: hidden;
  color: #272727;
  background-color: lightgreen;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.hidden {
  display: block;
}/*# sourceMappingURL=style.css.map */