@use "var";

// 中央配置(親要素にdisplay: relativeをつけること)
@mixin ArrangementCenter {
	position: absolute;
	top: 50%;
	left : 50%;
	transform: translate(-50%, -50%);
}

@mixin FixContentsCenter {
	width: 100%;
	max-width: var.$contents-width;
	margin: 0 auto;
}

// 行間を求める(XD用)
@mixin LineHeight($xdLineHeight, $fontSize) {
	line-height: calc($fontSize / $xdLineHeight);
}

@mixin LetterSpacing($xdLetterSpacing) {
	letter-spacing: calc($xdLetterSpacing / 1000) + em;
}

@mixin FontSize($xdFontSize) {
	font-size: calc($xdFontSize / var.$base-font-size) + rem;
}

// 背景画像を設定する
@mixin SetBackGroundImage($url) {
	background-image: url($url);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}