$tablet-break-point: 960px;
$mobile-break-point: 520px;

@mixin tablet {
	@media screen and (max-width: $tablet-break-point) {
		@content;
	}
}

@mixin mobile {
	@media screen and (max-width: $mobile-break-point) {
		@content;
	}
}

// TODO:上のやつとやってること一緒だからまとめたいけど、できないっぽい。方法ないかな
// 微調整用
@mixin otherResponsive($px) {
	@media screen and (max-width: $px) {
		@content;
	}
}

.tablet-hidden {
	@include tablet {
		display: none;
	}
}

.mobile-hidden {
	@include mobile {
		display: none;
	}
}