$base-font-size: 10px;
$main-content-width-tablet: 93%;
$font-bold-semiBold: 900;

$font-color: #272727;
$contact-color: #FFFFFF;
$contact-bg-color: #272727;
$main-visual-color: #FFFFFF;
$header-contact-hover-color: #FFF3B1;
$header-modal-bg-color: #343434;
$header-tablet-bg-color: #FFFFFF;
$main-accept-bg-color: #FFFFFF;
$button-hover-color: #FFFFFF;
$card-bg-color: #FFFFFF;
$card-border-color-tablet: #707070;
$button-traffic-more-bg-color: #E6E6E6;
$button-traffic-more-hover-bg-color: #707070;
$button-header-tel-bg-color: #E6E6E6;
$button-header-access-bg-color: #B2B2B2;
$button-header-hamburger-bg-color: #E6E6E6;
$button-header-hamburger-color: #272727;
$button-memorial-contact-border-color: #707070;
$slider-arrow-color: #FFFFFF;
$about-border-color: #272727;
$about-item-border-color: #707070;
$triangle-color: #7E7D7D;
$triangle-hover-color: #FFFFFF;
$modal-window-bg-color: #343434;
$modal-window-color: #FFFFFF;
$modal-window-button-color: #272727;
$modal-window-button-hover-color: #FFFFFF;
$modal-window-button-bg-color: #E6E6E6;
$modal-window-button-hover-bg-color: #707070;

$contents-width: 1320px;

$main-menu-bg-url-list: "../images/junenji_front.png", "../images/junenji_chant.png",
						"../images/junenji_event.png", "../images/junenji_grave.png";
$main-menu-animation-time: 0.3s;
$main-menu-animation-scale: 1.05;

$main-slider-url-list: "../images/slider/junenji_hondonai.png", "../images/slider/junenji_hondokazari.png","../images/slider/junenji_nishimon3.png",
						"../images/slider/junenji_kobodo4.png", "../images/slider/junenji_bell.png";
